body
{
    background-color: rgb(2, 57, 88);
}

#cabecera{
    height: 150px;
    width: 400px;
    float: left;
    position: absolute;
    top: 124px;
    left: 12%;
    border-radius: 8px;
    background-color: aqua;
}
#lateral1{
    height: 184px;
    width: 400px;
    float: left;
    position: absolute;
    top: 280px;
    left: 12%;
    border-radius: 4px;
    background-color: aqua;
}
#contenido{
    height: 340px;
    width: 330px;
    float: left;
    position: absolute;
    top: 124px;
    left: 42%;
    border-radius: 4px;
    background-color: aqua;
}
#lateral2{
    height: 250px;
    width: 300px;
    float: left;
    position: absolute;
    top: 470px;
    left: 12%;
    border-radius: 5px;
    background-color: aqua;
}
#lateral3{
    height: 250px;
    width: 424px;
    float: left;
    position: absolute;
    top: 470px;
    left: 35%;
    border-radius: 5px;
    background-color: aqua;
}

 #piedepágina{
    height:155px;
    width: 450px;
    float: right;
 }
